<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<base href="{{ site.baseurl }}">

	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151964114-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-151964114-1');
	</script>

	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="{{ site.imagehome }}">
	<link rel="icon" href="hmc/img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="hmc/img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="{{ site.themecolor }}">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="hmc/css/main.min.css">
	<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
</head>

<body class="ishome">