{% include /header-home.html %}

{% include /top-line.html %}

<div class="pattern pattern-cat-header">
	<div class="cat-header header-about">
		<div class="cat-header-block">
			<h1>про сайт hmc.com.ua</h1>
		</div>
	</div>
</div>

<div class="article-content">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-8">
				<article class="main-article">
					<div class="article-body">
						<p>HMC - це інформаційний портал, де ви завжди знайдете свіжі новини про топові криптовалюта, blockchain-технології, ico та майнінг. Уважно стежимо за трендами блокчейн-індустрії та обговорюємо актуальні питання.</p>

						<p>Будьте в курсі останніх новин зі світу криптовалюти</p>
						
						<p>Якщо ви є власником власного блогу, ви можете використовувати наші матеріали для підготовки власних публікацій, однак обов'язково вказавши посилання на джерело - портал hmc.com.ua</p>
						
						<p>Ми раді, що ви читаєте нас!</p>

						<p>Проект заснований в 2019 р</p>

						<p class="blockquote-text"><a href="mailto:info@hmc.com.ua">info@hmc.com.ua</a></p>
					</div>
				</article>
			</div>

			<div class="col-md-4">
{% include /category-aside.html %}
			</div>
		</div>
	</div>
</div>

	

{% include /footer.html %}